$serif = "Times New Roman"
$sansserif = 'Helvetica Neue', Helvetica, Arial, sans-serif

$blue = #4285f4
$fontColor = #616161

$backgroundColor = #f2f2f2

* {
  box-sizing border-box
}

ul, ol {
  margin 0
  padding 0
}

*:focus {
  outline-color transparent
  outline-width 0
  outline none
}

html {
  font-size 62.5%
}

body {
  font-family $sansserif
  font-size 1.4rem
  background $backgroundColor
  color $fontColor
}

#app-root {
  padding 8px
}

.location-list {
  display table
  list-style-type none

  li {
    display table-row

    > div {
      display table-cell
      padding 4px
    }

  }
}
